<div class="flex items-center gap-4">

            @if (User$ | async; as user) {
                <p>{{ user.email }}</p>
            }
            
        
            <!-- <p>{{isAuth()}}</p> -->


        <div class="hidden sm:flex">
            <a
            (click)="logOut()"
              class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 hover:bg-gray-200 hover:text-teal-700 duration-150 cursor-pointer"
            >
              Log out
            </a>
      </div>